
body {
  margin-top: 60px;
}

.acPanel {
  height: inherit;
}

.acPanelIcon {
  font-size: 10px;
}

.acPanelIcon:hover {
  color: black;
  font-weight: bold;
}

.acTabs {
  margin-bottom: 100px;
}

.debugOutput {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
