
body {
  margin-top: 60px;
}

.acPanel {
  height: inherit;
  background: #EEEEEE;
}

.acWidget {
  background-image: none
}

.acPanelIcon:hover {
  color: #EC3F00;
  font-weight: bold;
}

.acTabs {
  margin-bottom: 100px;
}

.acOutput {
  position: fixed;
  padding: 0px;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}

.acOutputTitle {
  font-size: 16px;
  padding: 10px;
  padding-bottom: 0px;
}


.acOutputContent {
  overflow: scroll;
  background-color: white;
  border: 1px solid #dddddd;
  font-family: monospace;
  margin: 10px;
}

.acOutputContent pre {
  margin: 0px; 
  padding: 0px;
  background-color: white;
  border: none;
  -moz-transition: height 0.25s ease-out;
  -webkit-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

.acOutputSize0 {
  height: 0vh;
  -moz-transition: height 0.25s ease-out;
  -webkit-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

.acOutputSize1 {
  height: 20vh;
  -moz-transition: height 0.25s ease-out;
  -webkit-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

.acOutputSize2 {
  height: 70vh;
  -moz-transition: height 0.25s ease-out;
  -webkit-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

