
body {
  margin-top: 60px;
}

.navbar {
  background-image: none;
  background-color: rgb(0, 77, 207);
}

.acPanel {
  height: inherit;
  overflow: auto;
  background: #EEEEEE;
}


.acWidget {
  background-image: none;
}

.acPanelIcon:hover {
  color: #EC3F00;
  font-weight: bold;
}

.acTabs {
  margin-bottom: 100px;
}

.acOutput {
  position: fixed;
  padding: 0px;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}

.acOutputTitle {
  font-size: 16px;
  padding: 10px;
  padding-bottom: 0px;
  display: flex;
  flex-wrap: nowrap;
}


.acOutputContainer {
  font-family: monospace;
  margin: 10px;
  position: relative;
  background-color: white;
  border: 1px solid #dddddd;
  overflow: hidden;
}

.acOutputContent {
  overflow: scroll;
  height: 100%;
}

.acOutputContent pre {
  margin: 0px; 
  padding: 0px;
  background-color: white;
  border: none;
  -moz-transition: height 0.25s ease-out;
  -webkit-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

.acOutputInput {
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  height: 38px;
  margin: 0px;
}

.acEdit {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 9px;
}
