
body {
  margin-top: 60px;
}

.acPanel {
  height: inherit;
}

.acPanelIcon {
  font-size: 10px;
}

.acPanelIcon:hover {
  color: black;
  font-weight: bold;
}

.acTabs {
  margin-bottom: 100px;
}

.acOutput {
  position: fixed;
  padding: 10px;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}

.acOutputH {
  font-size: 16px;
  margin-bottom: 5px;
}


.acOutputX {
  overflow: scroll;
  background-color: white;
  border: 1px solid #dddddd;
  font-family: monospace;
}

.acOutputX pre {
  margin: 0px; 
  padding: 0px;
  background-color: white;
  border: none;
  -moz-transition: height 0.25s ease-out;
  -webkit-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

.acOutput0 {
  height: 0vh;
  -moz-transition: height 0.25s ease-out;
  -webkit-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

.acOutput1 {
  height: 20vh;
  -moz-transition: height 0.25s ease-out;
  -webkit-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

.acOutput2 {
  height: 80vh;
  -moz-transition: height 0.25s ease-out;
  -webkit-transition: height 0.25s ease-out;
  -o-transition: height 0.25s ease-out;
  transition: height 0.25s ease-out;
}

