# temp directories
Builds/*
build/*
Temp/*
Library/*
obj/*
Dev/tmp/*

# tool created files
.vs/*
.vscode/*
*.sln
*.unityproj
*.pidb
*.userprefs
*.csproj
.DS_Store

# libs
node_modules
bower_components

# tools
release.bat
checkout.bat

