# temp directories
Builds/*
build/*
Temp/*
Library/*
obj/*

# tool created files
.vs/*
.vscode/*
*.sln
*.unityproj
*.pidb
*.userprefs
*.csproj
.DS_Store

# libs
node_modules
bower_components

# tools
checkout_merge.bat

